@import "../../../../styles/mixins";

.eyesWrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  padding: 0;
  z-index: 1;

  cursor: pointer;
  transition: opacity 0.3s ease;
  font-size: 20px;
  margin-top: 20px;

  background: transparent;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffffff;
  border-radius: 0;

  font-family: "RooftopRegular";
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  justify-content: flex-start;
}

.eyesWrapper:hover {
  opacity: 0.6;
}

.eyesTitle {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 2px;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Vector {
  width: 16px;
  height: 16px;
  filter: brightness(0) invert(1);
}

@include phone() {
}

@include tablet() {
}

@include desktop() {
}

@include desktopLg() {
}
