@import "../mixins";

.Wrapper {
    width: 100%;
    display: flex;
    margin-bottom: 60px;
}

.smallBubble{
    background-color: #F1F1F1;
    padding: 15px;
    border-radius: 20px;
}

.largeBubble{
    background-color: #F1F1F1;
    padding: 15px;
    border-radius: 20px;
}

.headerWrapper {
    font-size: 17px;
    font-family: "RooftopBold";
}

.textWrapper{
    font-size: 20px;
    font-family: "RooftopRegular";
    margin: 10px 0px;
}

.textWrapperInner {
    font-size: 20px;
    font-family: "RooftopRegular";
    margin: 10px 0px;
}



@include phone(){

    .Wrapper{
        flex-direction: column;
      }
    
    .smallBubble{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .largeBubble{
        width: 100%;
    }
    
   
  
}
  
@include tablet(){
  
    .Wrapper{
      padding-left: 40px;
      flex-direction: row;
    }

    .smallBubble{
        width: 50%;
        margin-right: 10px;
        margin-bottom: 0px;
    }

    .largeBubble{
        width: 50%;
    }
    
    
}
  