@import "../mixins";


.Wrapper p{
  font-family: "RooftopRegular";
  font-size: 20px;
  line-height: 120%;
}


@include phone(){

  .Wrapper{
    width: auto;
  }


}

@include tablet(){
  .Wrapper{
    width: auto;
  }

}

@include desktop(){

  .Wrapper{
    width: 80vw;
  }

}
