@import "../mixins";

.Wrapper {
  display: flex;
  flex-direction: column;

  font-family: "RooftopRegular";
  line-height: 120%;
}

.Wrapper p:first-child {
  margin-bottom: 25px;
}

.TextWrapper {
  display: flex;
}

@include phone() {
  .Wrapper {
    width: auto;

    font-size: 20px;
  }
}

@include tablet() {
  .Wrapper {
    width: auto;
    padding-top: 0px;

    font-size: 25px;
  }
}

@include desktop() {
  .Wrapper {
    width: 40vw;
    padding-top: 10px;
  }
}
