@import "../mixins";

.Wrapper{
  display: flex;

  justify-content: space-between;
  align-content: flex-start;
}


@include phone(){

  .Wrapper{
    flex-direction: column;

    margin: 30px 15px;
  }


}

@include tablet(){
  .Wrapper{
    margin: 0px 20px 30px 40px;
  }

}

@include desktop(){

  .Wrapper{
    flex-direction: row;

    margin: 80px 0px;

  }

}
