@import "../mixins";

@keyframes color {
  0% {
    background: #f4f4f4;
  }
  50% {
    background: #e0e0e0;
  }
  100% {
    background: #f4f4f4;
  }
}

.headMedia {
  width: 100%;
}

.headImageWrapper {
  display: flex;
  flex-direction: column;

  width: 100%;

  img {
    background-color: #000000;
  }
}

.headMediaWrapper {
  width: 100%;

  animation: color 1.5s infinite linear;
}

.video {
  width: 100%;

  object-fit: cover;
}

@include phone() {
  .headImageWrapper {
    top: 0;

    height: auto;
  }

  .video {
    height: auto;
  }
}

@include tablet() {
  .headImageWrapper {
    position: relative;
    top: 0;

    height: auto;
  }

  .video {
    top: 0;

    height: 800px;
  }
}

@include desktop() {
  .headImageWrapper {
    height: auto;
  }
}
