@import "../mixins";


@keyframes color {
  0%   { background: #0E0E0E; }
  50% { background: #1F1F1F; }
  100%   { background: #0E0E0E; }

}



.thumb{
  width: 100%;
  height: auto;

  border-radius: 20px;
}

.video{
  width: 100%;
  object-fit: contain;
  height: 100%;
  border-radius: 20px;
  
}

.mediaWrapper{
  height: auto;
  width: 100%;
  background-color:#0E0E0E;
  border-radius: 20px;
}


.videoWrapper{
  width: 100%;
  height: 100%;
}



.labelWrapper{
  display: flex;

  width: 100%;
  padding: 0px 0px 16px 0px;

  font-family: "RooftopRegular";

}

@include phone(){


  .labelWrapper{
    font-size: 20px;
  }

}

@include tablet(){
  
  
}

@include desktop(){

}
