@import "../mixins";


.textWrapper{
  max-width: 600px;
}

@keyframes color {
    0%   { background: #F1F1F1; }
    50% { background: #D1D1D1; }
    100%   { background: #F1F1F1; }
}


.thumb{
  width: 100%;
  height: auto;

  border-radius: 10px;
}

.video{
  width: 100%;

  border-radius: 7px;
}

.thumbWrapper{
  width: 100%;
  height: auto;

  animation: color 1.5s infinite linear;

  border-radius: 10px;
  background: #F1F1F1;

}


.videoWrapper{
  width: 100%;
}



.labelWrapper{
  display: flex;

  width: 100%;
  padding: 0px 0px 16px 0px;

  font-family: "RooftopRegular";

}

@include phone(){

  .mediaWrapper{
    margin: 20px 0px;
  }

  .labelWrapper{
    font-size: 20px;
  }

}

@include tablet(){
  .mediaWrapper{
    margin: 20px 0px;
  }
  .labelWrapper{
    font-size: 25px;
  }
}

@include desktop(){

  .mediaWrapper{
    margin: 40px 0px;
  }
}
