@import "../mixins";

.Wrapper h3{
  color: #000000;

  font-family: "RooftopMedium";

}

.Wrapper{
  width: 100%;
}


@include phone(){

  .Wrapper{
    width: 80%;
    padding: 30px 0px 20px 0px;
  }
  
  .Wrapper h3{
    font-size: 25px;
  } 

}

@include tablet(){

  .Wrapper{
    width: 80%;
    padding: 50px 0px 20px 0px;
  }

  .Wrapper h3{
    font-size: 35px;
  }
  
}


@include desktop(){

  .Wrapper{
    width: 40%;
    padding: 100px 0px 50px 0px;
  }
  
}