@import "../mixins";


.innerWrapper{

  a{
    text-decoration: underline;
    color:#3025ff;

    font-family: "RooftopBold";
    font-size: 18px;

  }

}

@include phone(){

  .innerWrapper{
    max-width: 450px;
  }

  .innerWrapper:first-child{
    margin: 15px 0px;
  }

}

@include tablet(){

  .innerWrapper:first-child{
    margin: 0px 0px;
  }

}

@include desktop(){


  .innerWrapper{
    max-width: 450px;
    margin: 0px 0px;
  }

}
