@import "../mixins";

.Wrapper {
  display: flex;

  padding: 10px 0px;

  justify-content: flex-start;

  a {
    text-decoration: underline;
  }

  p {
    margin-right: 30px;
    padding: 5px 0px 0px 0px;

    color: #565656;

    font-family: "RooftopRegular";
  }
}

@include phone() {
  .Wrapper {
    gap: 10px;
    flex-direction: column;

    margin-bottom: 10px;
  }
}

@include tablet() {
  .Wrapper {
    gap: 30px;
    flex-direction: row;

    margin: 25px 0px 0px 40px;
  }
}

@include desktop() {
  .Wrapper {
    margin: 25px 0px 0px 0px;
  }
}
