

.Wrapper{
  width: 40%;
  padding: 5px 0px;

  color: #565656;

  font-family: "RooftopRegular";
  font-size: 22px;
}

.Wrapper h2{
  margin: 27px 0px 10px 0px;

  color: #000000;

  font-family: "RooftopBold";
  font-size: 22px;
}
