@import "../mixins";

.Wrapper{
  margin: 20px 0px 70px 0px;

  font-family: "RooftopRegular";
  line-height: 180%;
}



@include phone(){

  .Wrapper{
    font-size: 20px;
  }

}

@include tablet(){
  .Wrapper{
    margin: 20px 20px 70px 40px;

    font-size: 30px;
  }

}

@include desktop(){

  .Wrapper{
    margin: 20px 0px 70px 0px;

    font-size: 40px;

  }

}
