@import "../../../../styles/mixins";

.SkillDescContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 0;
  padding-top: 0;
}

@include phone() {
  .SkillDescContainer {
    width: 100%;
  }

  .left {
    margin-right: 0px;
  }

  .right {
    margin-left: 0px;
  }
}

@include tablet() {
  .SkillDescContainer {
    width: 70%;
  }

  .left {
    margin-right: 15px;
  }

  .right {
    margin-left: 15px;
  }
}

@include desktop() {
}

@include desktopLg() {
}
