@import "../../../../styles/mixins";

/* .mainSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 400px;
}

.imgContainerMainSection {
  height: auto;
  max-width: 250px;
  max-height: 300px;
} */

.linksContainer {
  position: absolute;
  z-index: 2;
  top: auto;

  display: flex;
  flex-direction: column;

  width: 20%;

  align-content: space-between;
  align-items: center;
}

.linksContainer a {
  position: absolute;

  color: #fd4c00;
  border-radius: 10px;
  border: 2px solid #fd4c00;

  font-family: "RooftopMono-Bold";
}

.linkMainSectionInst {
  transform: rotate(5.46deg);
}

.linkMainSectionMail {
  transform: rotate(12.44deg);
}

.linkMainSectionTg {
  transform: rotate(-13deg);
}

/* @include phone() {
  .mainSection {
    height: 300px;
    min-height: 300px;
  }

  .linksContainer {
    top: 870px;
    left: 0px;
  }
  .linksContainer a {
    padding: 7px 10px;

    border-radius: 10px;

    font-size: 16px;
  }

  .imgContainerMainSection {
    height: auto;
    max-width: 150px;
    max-height: 200px;
  }
} */

@include phone() {
  .linkMainSectionInst {
    top: -20px;
    left: 20px;
  }

  .linkMainSectionMail {
    top: -90px;
    left: 10px;
  }

  .linkMainSectionTg {
    top: 60px;
    left: 10px;
  }
}

/* @include tablet() {
  .mainSection {
    height: 400px;
    min-height: 400px;
  }

  .linksContainer {
    top: 780px;
    left: 110px;
  }
  .linksContainer a {
    padding: 10px 15px;

    border-radius: 10px;

    font-size: 16px;
  }
  .imgContainerMainSection {
    height: auto;
    max-width: 200px;
    max-height: 250px;
  }
} */

@include tablet() {
  .linkMainSectionInst {
    top: 50px;
    left: -60px;
  }

  .linkMainSectionMail {
    top: -20px;
    left: 10px;
  }

  .linkMainSectionTg {
    top: 130px;
    left: 70px;
  }
}

/* @include desktop() {
  .mainSection {
    height: 500px;
    min-height: 500px;
  }

  .linksContainer {
    top: 550px;
    left: 150px;
  }

  .linksContainer a {
    padding: 10px 15px;

    border-radius: 10px;

    font-size: 16px;
  }

  .imgContainerMainSection {
    height: auto;
    max-width: 200px;
    max-height: 250px;
  }
} */

@include desktop() {
  .linkMainSectionInst {
    top: 50px;
    left: -60px;
  }

  .linkMainSectionMail {
    top: -40px;
    left: 60px;
  }

  .linkMainSectionTg {
    top: 160px;
    left: 120px;
  }
}

/* @include desktopLg() {
  .mainSection {
    height: 500px;
    min-height: 500px;
  }

  .linksContainer {
    top: 600px;
    left: 230px;
  }

  .linksContainer a {
    padding: 10px 25px;

    font-size: 20px;
  }
} */

@include desktopLg() {
  .linkMainSectionInst {
    top: 50px;
    left: -60px;
  }
  .linkMainSectionMail {
    top: -40px;
    left: 60px;
  }

  .linkMainSectionTg {
    top: 160px;
    left: 120px;
  }
}
