
@import "mixins";


.Wrapper{
  display: flex;

  width: 100%;
  margin-bottom: 45px;

  align-items: flex-start;
}

.Desc{
  width: 200px;
  margin-right: 10px;
}

.WrapperLink:hover {
  color: red;
  background-color: red;
}


.WrapperLink:hover .Button{
  width: 100px;

  background-color: red;
}


.Desc h1{
  margin-bottom: 8px;

  color:#FFFFFF;

  font-family: "RooftopMedium";
  font-size: 20px;
}


.Desc p{
  color: #898989;

  font-family: "RooftopRegular";
  font-size: 15px;
}


.ProjectImage img{
  width: 100%;

  border-radius: 10px;
}

.Button {
  display: block;
  display: flex;
  flex-direction: row;

  width: 80px;
  padding: 10px 5px;

  transition: width 0.3s;

  border-radius: 10px;
  background: #404040;

  justify-content: center;
  align-items: center;
}

.thumb{
  width: 100%;
  height: 100%;

  border-radius: 10px;
}

@keyframes color {
  0%   { background: #0E0E0E; }
  50% { background: #1F1F1F; }
  100%   { background: #0E0E0E; }

  }


.mediaWrapper{
  width: 100%;

  animation: color 1.5s infinite linear;

  border: 1px solid #222222;
  border-radius: 12px;
}

.video{
  width: 100%;
  height: auto;

  border-radius: 10px;

  object-fit: cover;

}

@include phone(){
  .Desc h1{
    margin: 10px 0px;
  }

  .Desc{
    width: 100%;
  }

  .Wrapper{
    flex-direction: column-reverse;

    width: 100%;
    margin-bottom: 45px;
  }
}

@include tablet(){

  .Desc h1{
    margin: 10px 0px;
  }

  .Desc{
    width: 600px;
  }

  .Wrapper{
    flex-direction: column-reverse;

    width: 100%;
    margin-bottom: 45px;
  }

}

@include desktop(){

  .Wrapper{
    flex-direction: row;
  }

  .Desc{
    width: 200px;
  }

}
