html,
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;

  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;

  font-size: auto;
}

@font-face {
  font-family: "RooftopRegular";

  src: url("../fonts/RooftopRegular.otf") format("opentype");
}

@font-face {
  font-family: "RooftopBold";

  src: url("../fonts/RooftopBold.otf") format("opentype");
}

@font-face {
  font-family: "RooftopMedium";

  src: url("../fonts/RooftopMedium.otf") format("opentype");
}

@font-face {
  font-family: "RooftopMono-Bold";

  src: url("../fonts/TRIAL_RooftopMono-Bold.otf") format("opentype");
}

@font-face {
  font-family: "RooftopMono-Regular";

  src: url("../fonts/TRIAL_RooftopMono-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Rubik";

  src: url("../fonts/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RooftopMono-Regular";

  src: url("../fonts/TRIAL_RooftopMono-Regular.otf") format("opentype");
}

@font-face {
  font-family: "RooftopMono-Medium";

  src: url("../fonts/TRIAL_RooftopMono-Medium.otf") format("opentype");
}

@font-face {
  font-family: "RooftopMono-Bold";

  src: url("../fonts/TRIAL_RooftopMono-Bold.otf") format("opentype");
}
