html,
body {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}


h1, h2, h3, p{
  margin: 0;
  padding: 0;

  font-size: auto;
}




@font-face {
    font-family: 'RooftopRegular';

    src: url("../fonts/RooftopRegular.otf") format('opentype');
}

@font-face {
    font-family: 'RooftopBold';

    src: url("../fonts/RooftopBold.otf") format('opentype');
}

@font-face {
    font-family: 'RooftopMedium';

    src: url("../fonts/RooftopMedium.otf") format('opentype');
}

@font-face {
    font-family: 'BergenMono-SemiBold';

    src: url("../fonts/BergenMono-SemiBold.eot") format('opentype');
    src: url("../fonts/BergenMono-SemiBold.woff2") format('woff2');
}

@font-face {
    font-family: 'BergenMono-Regular';

    src: url("../fonts/BergenMono-Regular.eot") format('opentype');
    src: url("../fonts/BergenMono-Regular.woff2") format('woff2');
}
