@import "mixins";

.select {
  font-family: "RooftopMono-Regular";
  font-size: 20px;
  border-radius: 10px;
  padding: 10px 27px 10px 9px;
  border: none;
  color: black;
  background: rgba(205, 205, 205, 0.4);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../public/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 7px) center;
  background-size: 13px;
  height: 54px;
}

.imgContainer {
  position: absolute;
  z-index: 11;

  display: flex;

  width: 100%;
}

.logo {
  mix-blend-mode: difference;
}

.body {
  background-color: black;
}

@include phone() {
  .logoWrapper {
    width: 120px;
  }
  .imgContainer {
    position: relative;
    top: 0px;

    width: 100%;
    height: 70px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 15px 0px;

    justify-content: space-between;
  }

  .select {
    margin: 0px 10px 0px 10px;
  }
}

@include tablet() {
  .logoWrapper {
    width: auto;
  }

  .imgContainer {
    position: fixed;
    top: 20px;
    left: 0px;

    flex-direction: row;
    align-items: center;

    height: auto;
    margin-bottom: 20px;
    padding: 0px;

    margin: 0px;

    justify-content: flex-start;
  }

  .select {
    position: fixed;
    top: 20px;
    right: 50px;
    margin: 0px;
  }

  @include desktop() {
    .imgContainer {
      flex-direction: row;
      align-items: center;
    }

    .select {
      position: fixed;
      top: 20px;
      right: 50px;
      margin: 0px;
    }
  }
}
