@import "mixins";


.imgContainer{
  position: absolute;
  z-index: 11;

  display: flex;

  width: 100%;
}

.logo{
  mix-blend-mode: difference;
}

.body{
  background-color: black;
}


@include phone(){
  .imgContainer{
    position: relative;
    top: 0px;

    height: 70px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 15px 0px;

    justify-content: center;
  }

}

@include tablet(){
  .imgContainer{
    position: absolute;
    top: 20px;

    height: auto;
    margin-bottom: 20px;
    padding: 16px 0px;

    justify-content: flex-start;
  }

}
