@import "mixins";

.navbarContainer {
  position: fixed;
  z-index: 10;

  display: flex;
  flex-direction: row;

  padding: 5px;

  transform: rotate(90deg);

  background: rgba(205, 205, 205, 0.4);

  font-family: "RooftopMono-Regular";
  font-size: 20px;

  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}

.ImageWrapper {
  display: flex;

  width: 40px;
  height: 40px;

  flex-wrap: nowrap;
  justify-content: center;
}

.ArrowLink {
  margin: 0px 4px;

  color: #000000;
  border-radius: 10px;

  &:hover {
    background: rgba(0, 0, 0, 0.18);
  }
}

.active {
  margin: 0px 3px;
  padding: 10px 10px;

  color: #ffffff;
  border-radius: 10px;
  background: #000000;
}

.default {
  margin: 0px 3px;
  padding: 10px 10px;

  color: #000000;
  border-radius: 10px;

  &:hover {
    background: rgba(0, 0, 0, 0.18);
  }
}

@include phone() {
  .ArrowLink {
    padding: 3px 15px;
  }

  .Image {
    rotate: 0deg;
  }

  .navbarContainer {
    position: sticky;
    top: 0px;

    width: 95%;
    margin: auto;
    margin-bottom: 15px;

    transform: rotate(0deg);

    border-radius: 15px;
  }

  .active {
    width: 100%;

    text-align: center;

    border-radius: 15px;
  }

  .default {
    width: 100%;

    text-align: center;

    border-radius: 15px;
  }
}

@include tablet() {
  .ArrowLink {
    padding: 3px 3px;
  }

  .Image {
    rotate: -90deg;
  }

  .navbarContainer {
    position: fixed;
    top: 465px;
    left: -100px;

    width: 270px;

    transform: rotate(90deg);

    border-radius: 10px;

    font-size: 20px;
  }

  .active {
    border-radius: 10px;
  }

  .default {
    border-radius: 10px;
  }
}

@include desktop() {
  .navbarContainer {
    left: -95px;
  }
}
