@import "mixins";

.stasWrapper {
  display: flex;
  gap: 30px;
}

.container {
  overflow-x: hidden;
  background-color: #000000;
  color: #ffffff;
}
.content {
  margin: auto;
}

.ulList {
  padding-left: 15px;
}

// .TaskDescNameame{
//   font-family: "RooftopBold";
//   font-size: 18px;
// }

// .TaskDescLink {
//   color:#009AF1;

//   font-family: "RooftopBold";
//   font-size: 18px;
//   text-decoration: underline;
// }

.textWrapper {
  padding: 0px 30px;
}

.link {
  font-family: "RooftopRegular";
  font-size: 21px;
  text-decoration: underline;
  color: #0028fb;
  margin: 0px 0px 20px 0px;
}

.suggestedWrapper {
  width: 100%;
  margin-top: 100px;
  padding: 40px 80px;

  border-radius: 30px 30px;
  box-shadow: 0px -6px 19px rgba(0, 0, 0, 0.1);
}

.doubleMediaWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 100px;
}

.suggestedTitle {
  margin: 0px 0px 20px 180px;

  font-family: "RooftopRegular";
  font-size: 60px;
  line-height: 180%;
}

@include phone() {
  .content {
    padding: 0px 15px 0px 15px;
  }

  .headImageWrapper {
    height: auto;
  }
}

@include tablet() {
  .content {
    padding: 0px 80px;
  }

  .headImageWrapper {
    height: 80vh;
  }
}

@include desktop() {
  .content {
    padding: 0px 200px;
  }
}
