@import "mixins";

.container {
  position: relative;
  z-index: 0;

  background: #000000;
}

.section {
  display: flex;

  width: 100%;
  padding: 30px 15px 0px 0px;

  color: #000000;

  justify-content: space-between;
}

.headlineContainer {
  display: flex;

  color: #ffffff;

  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

.buttonContainer {
  width: 10%;

  text-align: right;
}

.aboutTitle {
  font-family: "RooftopMedium";
  font-size: 100px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 40px;
  line-height: 1.1;
}

.button {
  padding: 10px 14px;

  color: #ffffff;
  border: none;
  border-radius: 10px;
  background: #202020;

  font-family: "RooftopRegular";
  font-size: 15px;

  &:hover {
    background: #6b6b6b;
  }
}

.headline {
  margin: 0px 0px;

  font-family: "RooftopMedium";
}

.gradient {
  position: absolute;
  z-index: -1;
  top: -170px;

  width: 100%;
  height: 100vh;

  background: radial-gradient(
    67.3% 68.78% at 50% 0%,
    #dcac02 0%,
    rgba(194, 62, 13, 0.40625) 66.67%,
    rgba(194, 13, 13, 0) 100%
  );
}

.Projects {
  overflow-x: hidden;

  width: 100%;
}

.test {
  width: 500px;
  height: 500px;

  background-color: black;
}

.arrowtest {
  width: 500px;
  height: 500px;

  object-fit: cover;
}

.SmContainer {
  display: flex;

  width: 100%;

  justify-content: space-between;
  align-items: flex-start;
}

.fullWidth {
  margin: 60px 0px;
}

@include phone() {
  .headline {
    max-width: 600px;

    font-size: 35px;
  }

  .aboutTitle {
    font-size: 64px;
    margin-bottom: 0px 0px 0px 0px;
  }

  .headlineContainer {
    margin-bottom: 30px;
    margin-left: 0px;
    padding-top: 50px;
  }

  .Projects {
    padding: 0px 10px 20px 10px;
  }
}

@include tablet() {
  .headline {
    max-width: none;

    font-size: 40px;
  }

  .aboutTitle {
    font-size: 64px;
    margin-bottom: 0px 0px 60px 0px;
    margin-bottom: 120px 0px 60px 180px;
  }

  .headlineContainer {
    margin-bottom: 30px;
    margin-left: 0px;
    padding-top: 130px;
  }

  .Projects {
    padding: 0px 30px 20px 30px;
  }
}

@include desktop() {
  .headlineContainer {
    margin-bottom: 30px;
    margin-left: 180px;
    padding-top: 150px;
  }

  .aboutTitle {
    font-size: 100px;
    margin-bottom: 120px 0px 50px 180px;
  }

  .headline {
    max-width: 1000px;

    font-size: 60px;
  }

  .Projects {
    padding: 0px 60px 20px 200px;
  }
}
