@import "../../../../styles/mixins";

@keyframes color {
  0% {
    background: #0e0e0e;
  }
  50% {
    background: #1f1f1f;
  }
  100% {
    background: #0e0e0e;
  }
}

.thumb {
  width: 100%;
  height: auto;

  border-radius: 20px;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.mediaWrapper {
  height: 500px;
  width: 100%;
  background-color: #000000;
  border-radius: 20px;
  border: 1px solid #4a4a4a;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoWrapper {
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.labelWrapper {
  display: flex;

  width: 100%;
  padding: 0px 0px 16px 0px;

  font-family: "RooftopRegular";
}

@include phone() {
  .labelWrapper {
    font-size: 20px;
  }

  .videoWrapper {
    height: 400px;
  }

  .mediaWrapper {
    height: 400px;
  }
}

@include tablet() {
  .videoWrapper {
    height: 450px;
  }

  .mediaWrapper {
    height: 450px;
  }
}

@include desktop() {
  .videoWrapper {
    height: 500px;
  }

  .mediaWrapper {
    height: 500px;
  }
}
